
{alien_dirs, ["inttest"]}.
{alien_conf, [
    {"inttest", [
        {create, "README", "The rebar.config here was generated automatically."},
        {copy, "inttest.config", "rebar.config"}
    ]}
]}.

{plugins, [rebar_alien_plugin]}.
{plugin_dir, "../src"}.

{clean_files, ["ebin", "inttest/ebin", "inttest/target"]}.
