
{alien_dirs, ["inttest"]}.
{alien_conf, [
    {"inttest", [
        {command, 'mvn:test', "Run Maven Tests", [
            {exec, "mvn clean test"}
        ]}
    ]}
]}.

{deps, [
    {rebar_alien_plugin, ".*",
        {git, "../../../", "master"}}
]}.
{plugins, [rebar_alien_plugin]}.

{clean_files, ["ebin", "inttest/ebin", "inttest/target"]}.
