
{sub_dirs, ["inttest"]}.
{alien_dirs, ["inttest"]}.
{alien_conf, [
    {"inttest", [
        {create, "README", "The rebar.config here was generated automatically."},
        {copy, "inttest.config", "rebar.config"}
    ]}
]}.

{deps, [
    {rebar_alien_plugin, ".*",
        {git, "../../../", "master"}}
]}.
{plugins, [rebar_plugin_manager, rebar_alien_plugin]}.
{plugin_dir, "deps/rebar_plugin_manager/src"}.

{clean_files, ["ebin", "inttest/ebin", "inttest/target"]}.
